
<div *ngIf="error">
  <app-error-message [message]="error"></app-error-message>
</div>

<h2 class="text-center" [ngClass]="{'hide-header': error}"> Análise por fonte de recurso</h2>
<app-table>
  <thead [ngClass]="{'hide-header': error}">
    <tr>
      <th>Código</th>
      <th>Quantidade de despesas</th>
      <th>Fonte recurso</th>
      <th>Valor Empenhado</th>
      <th>Valor Liquidado</th>
      <th>Valor Pago</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of getDisplayedData()">
      <td>{{ item.fonteRecursoCodigo }}</td>
      <td>{{ item.count }}</td>
      <td>{{ item.fonteRecursoNome }}</td>
      <td>{{ item.valorEmpenhado }}</td>
      <td>{{ item.valorLiquidado }}</td>
      <td>{{ item.valorPago }}</td>
    </tr>
  </tbody>
</app-table>

<app-pagination [currentPage]="currentPage" [totalPages]="totalPages" (pageChange)="changePage($event)"></app-pagination>

